.loader {
    animation: rotate 2s infinite;
    height: 50px;
    width: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.loader-text{
  font-size: 25rem;
  font-weight: 600;
  color:#39758f;
  animation-name: scaleout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  letter-spacing: 20px;
  transition: all 1s;
}
@keyframes scaleout {
  100%{
    font-size: 1.2rem;
    letter-spacing: normal;
    color: gray;
  }
}